* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serifs;
    /* background-color: #E7F0F2; */
    background-color: #E8F5E9;
}

/* ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
   ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
   ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
   ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
   ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
   ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
   ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
*/

.nav-bar {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-bottom: 1px solid #A5D6A7;
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li a:hover {
    transform: scale(1.08);
    color: #388E3C;
    transition: transform 0.2s ease, color 0.2s ease;
}

.logo-ac {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nome-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-info h1 {
    color: #333333;
    font-weight: bold;
    font-size: 1.3em;
}

.nome-info h2 {
    font-size: 1.1em;
    color: #333333;
}

.nome-info h1, .nome-info p {
    margin: 0;
}

.logo-fisio {
    width: 60px;
    height: auto;
}

.nav-links li a.agende-sua-consulta {
    display: flex;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

.nav {
    color: #333333;
    font-weight: 500;
    font-size: 1em;
}

.agende-sua-consulta /* BOTÃO */{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 60px;
    font-size: 1em;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: #66BB6A;
    outline-offset: 5px;
}

.agende-sua-consulta:hover {
    background-color: #1EBE5D;
    transform: scale(1.05);
    color: white !important;
    transition: all 0.2s ease-in-out;
}

.contato {
    background-color: #A5D6A7;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 50px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ------------------------------------------------------ SOBRE MIM -----------------------------------------------------------------------------
   ------------------------------------------------------ SOBRE MIM -----------------------------------------------------------------------------
   ------------------------------------------------------ SOBRE MIM -----------------------------------------------------------------------------
   ------------------------------------------------------ SOBRE MIM -----------------------------------------------------------------------------
   ------------------------------------------------------ SOBRE MIM -----------------------------------------------------------------------------
   ------------------------------------------------------ SOBRE MIM -----------------------------------------------------------------------------
   ------------------------------------------------------ SOBRE MIM -----------------------------------------------------------------------------
*/

.contato {
    background-color: #A5D6A7;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 50px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
    margin-top: 150px;
}

.contato .texto {
    grid-column: 1;
}

.contato img {
    grid-column: 2;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.contato h1 {
    font-size: 1.7em;
    font-weight: 500;
}

.contato img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 6px;
    justify-self: end;
}

/* ------------------------------------------------------ FOOTER -----------------------------------------------------------------------------
   ------------------------------------------------------ FOOTER -----------------------------------------------------------------------------
   ------------------------------------------------------ FOOTER -----------------------------------------------------------------------------
   ------------------------------------------------------ FOOTER -----------------------------------------------------------------------------
   ------------------------------------------------------ FOOTER -----------------------------------------------------------------------------
   ------------------------------------------------------ FOOTER -----------------------------------------------------------------------------
   ------------------------------------------------------ FOOTER -----------------------------------------------------------------------------
*/

.footer {
    margin-top: 100px;
    background-color: #C8E6C9;
    color: #4A4A4A;
    text-align: center;
    padding: 25px 0;
    height: 400px;
    display: grid;
    flex-direction: column;
}

.footer p {
    font-size: 0.8em;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 0;
}

.linkedin {
  width: 40px;
  height: 40px;
  fill: #0A66C2;
  transition: 0.3s;
}

.linkedin:hover {
  fill: #004182;
}

.facebook {
  width: 40px;
  height: 40px;
  fill: #0A66C2;
  transition: 0.3s;
}

.facebook:hover {
  fill: #004182;
}

.instagram {
  width: 40px;
  height: 40px;
  fill: #FF0069;
  transition: 0.3s;
}

.instagram:hover {
  fill: #E0005F;
  filter: brightness(0.7);
}