* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: "Poppins", sans-serifs;
    /* background-color: #E7F0F2; */
    background-color: #E8F5E9;
}

/*   NAV BAR ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ NAV BAR -----------------------------------------------------------------------------
*/

.nav-bar {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-bottom: 1px solid #A5D6A7;
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links li a:hover {
    transform: scale(1.08);
    color: #388E3C;
    transition: transform 0.2s ease, color 0.2s ease;
}

.logo-ac {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nome-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-info h1 {
    color: #333333;
    font-weight: bold;
    font-size: 1.3em;
}

.nome-info h2 {
    font-size: 1.1em;
    color: #333333;
}

.nome-info h1, .nome-info p {
    margin: 0;
}

.logo-fisio {
    width: 60px;
    height: auto;
}

.nav-links li a.agende-sua-consulta {
    display: flex;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
}

.nav {
    color: #333333;
    font-weight: 500;
    font-size: 1em;
}

.agende-sua-consulta /* BOTÃO */{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 60px;
    font-size: 1em;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: #66BB6A;
    outline-offset: 5px;
}

.agende-sua-consulta:hover {
    background-color: #1EBE5D;
    transform: scale(1.05);
    color: white !important;
    transition: all 0.2s ease-in-out;
}

/*   NAV BAR ------------------------------------------------------ CAROUSEL -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ CAROUSEL -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ CAROUSEL -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ CAROUSEL -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ CAROUSEL -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ CAROUSEL -----------------------------------------------------------------------------
     NAV BAR ------------------------------------------------------ CAROUSEL -----------------------------------------------------------------------------
*/


.carousel {
    position: relative;
    max-width: 1000px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 140px;
    border: 10px solid #A5D6A7;
    background-color: #A5D6A7;
}

.carousel-slide:first-child {
    display: block;
}

.carousel-slide {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.caption {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: #000000;
    background-color: #A5D6A7;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1em;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.5em;
    padding: 5px 8px;
    background-color: rgba(0,0,0,0.4);
    border: none;
    border-radius: 5px;
}

.prev { left: 10px; }
.next { right: 10px; }

/*           -------------------------------------------------------- BODY -------------------------------------------------------------------------------
             -------------------------------------------------------- BODY -------------------------------------------------------------------------------
             -------------------------------------------------------- BODY -------------------------------------------------------------------------------
             -------------------------------------------------------- BODY -------------------------------------------------------------------------------
             -------------------------------------------------------- BODY -------------------------------------------------------------------------------
             -------------------------------------------------------- BODY -------------------------------------------------------------------------------
             -------------------------------------------------------- BODY -------------------------------------------------------------------------------
*/


.tratamentos-mais-buscados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    max-width: 1000px;
    margin: 40px auto;
    background-color: #DCEFD8;
    border-radius: 10px;
    padding: 10px;
}

.tratamentos-mais-buscados div {
    background-color: #FFF8E1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    gap: 20px;
    margin-bottom: -10px;
}

.tratamentos-mais-buscados div:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.tratamentos-mais-buscados h1 {
    font-size: 1.8em;
}

.tratamentos-mais-buscados img {
    width: 200px;
    height: 200px;
    image-resolution: initial;
    border-radius: 50%;
    outline: 2px solid #555;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.tratamentos-mais-buscados img:hover {
    filter: brightness(80%);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .tratamentos-mais-buscados {
        grid-template-columns: 1fr;
    }
}

/*           -------------------------------------------------------- FORMS -------------------------------------------------------------------------------
             -------------------------------------------------------- FORMS -------------------------------------------------------------------------------
             -------------------------------------------------------- FORMS -------------------------------------------------------------------------------
             -------------------------------------------------------- FORMS -------------------------------------------------------------------------------
             -------------------------------------------------------- FORMS -------------------------------------------------------------------------------
             -------------------------------------------------------- FORMS -------------------------------------------------------------------------------
             -------------------------------------------------------- FORMS -------------------------------------------------------------------------------
*/

.contato {
    background-color: #A5D6A7;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 50px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato h1 {
    font-size: 2em;
    font-weight: 300;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #43A047;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    outline: none;
}

.contato textarea {
    height: 150px;
    resize: none;
}

.contato input:focus,
.contato textarea:focus {
    border-color: #43A047;
    box-shadow: 0 0 5px rgba(236, 64, 122, 0.3);
}

.contato ::placeholder {
    color: #555;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.contato button {
    align-self: flex-start;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.contato button:hover {
    transform: translateY(-2px) scale(1.05);
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.motivo {
    width: 100%;
    min-height: 200px;
}

.contato button {
    width: 200px;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    outline-offset: 5px;
}

.contato button:hover {
    background-color: #388E3C;
}

.contato img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 6px;
    justify-self: end;
}

@media (max-width: 768px) {
    .contato {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .contato img {
        order: -1; /* imagem sobe */
        margin-bottom: 20px;
    }
}

/*           -------------------------------------------------------- FOOTER -------------------------------------------------------------------------------
             -------------------------------------------------------- FOOTER -------------------------------------------------------------------------------
             -------------------------------------------------------- FOOTER -------------------------------------------------------------------------------
             -------------------------------------------------------- FOOTER -------------------------------------------------------------------------------
             -------------------------------------------------------- FOOTER -------------------------------------------------------------------------------
             -------------------------------------------------------- FOOTER -------------------------------------------------------------------------------
             -------------------------------------------------------- FOOTER -------------------------------------------------------------------------------
*/

/* ICONS */

.footer {
    margin-top: 100px;
    background-color: #C8E6C9;
    color: #4A4A4A;
    text-align: center;
    padding: 25px 0;
    height: 400px;
    display: grid;
    flex-direction: column;
}

.footer p {
    font-size: 0.8em;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px 0;
}

.linkedin {
  width: 40px;
  height: 40px;
  fill: #0A66C2;
  transition: 0.3s;
}

.linkedin:hover {
  fill: #004182;
}

.facebook {
  width: 40px;
  height: 40px;
  fill: #0A66C2;
  transition: 0.3s;
}

.facebook:hover {
  fill: #004182;
}

.instagram {
  width: 40px;
  height: 40px;
  fill: #FF0069;
  transition: 0.3s;
}

.instagram:hover {
  fill: #E0005F;
  filter: brightness(0.7);
}